<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050719672631-pnn3bc8k11ea4hv1jubk7i12k0au0m3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050719672631-pnn3bc8k11ea4hv1jubk7i12k0au0m3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLqLEnj9DuHIWNitYaCQ5qVXM1GYAZxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1050719672631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.architech1</string>
	<key>PROJECT_ID</key>
	<string>architecht-4897b</string>
	<key>STORAGE_BUCKET</key>
	<string>architecht-4897b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050719672631:ios:9dc3d431362692e27822b2</string>
	<key>DATABASE_URL</key>
	<string>https://architecht-4897b.firebaseio.com</string>
</dict>
</plist>